.films {
  color: var(--text-color);
}

.film-genres ul {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: clip;
}
.film-genres ul li {
  display: inline-block;
  margin-right: 2%;
  font-weight: 600;
}

.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.film-sort p,
.select-menu {
  display: inline-block;
  margin-right: 10px;
  font-weight: 100;
}

#genre {
  border: none;
  border-radius: 5px;
  width: 100px;
}

.film-element {
  margin-top: 40px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 var(--icon-graphic-color);
  padding: 8px;
}

.film-element h2, .film-element h3, .film-element p {
  text-align: center;
}

.stars {
  margin: auto;
  width: fit-content;
  padding: 16px 0;
}

.film-element img {
  width: 100%;
}

i.fa-solid.fa-star {
  color: #bcbcbc;
  font-size: 1.3em;
}

.checked-star {
  color: #d8c447 !important;
}

@media screen and (min-width: 767px) {
  .navigation {
    border-bottom: 1px solid #d9d8d8;
  }

  .footer-content {
    border-top: 1px solid #d9d8d8;
    padding-top: 50px;
  }

  .films {
    position: inherit;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .film-genres ul li {
    margin-right: 30px;
    font-size: 1.1em;
  }

  .film-genres {
    display: inline-block;
  }

  .film-sort {
    display: inline-block;
    vertical-align: top;
  }

  .film-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .film-element {
    flex-basis: 31.333333%;
    margin-bottom: 30px;
    position: relative;
  }

  /*.film-element img {
    content: url("../img/film-thumbnail.jpg");
  }*/

  /*.film-element button {
    width: 50%;
    position: absolute;
    left: 0;
  }*/
}
