.films {
  color: var(--text-color);
}

.film-genres ul {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: clip;
}
.film-genres ul li {
  display: inline-block;
  margin-right: 2%;
  font-weight: 600;
}

.active {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.film-sort p,
.select-menu {
  display: inline-block;
  margin-right: 10px;
  font-weight: 100;
}

#genre {
  border: none;
  border-radius: 5px;
  width: 100px;
}

.film-element {
  margin-top: 40px;
}

.film-element img {
  width: 100%;
}

.film-element h3 {
  font-weight: 400;
}

@media screen and (min-width: 767px) {
  .navigation {
    border-bottom: 1px solid #706f6f;
    padding-bottom: 20px;
  }

  .footer-content {
    border-top: 1px solid #706f6f;
    padding-top: 50px;
  }

  .films {
    position: inherit;
    margin-top: 20px;
  }

  .film-genres ul li {
    margin-right: 30px;
    font-size: 1.1em;
  }

  .film-genres {
    display: inline-block;
  }

  .film-sort {
    display: inline-block;
    vertical-align: top;
  }

  .film-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .film-element {
    flex-basis: 31.333333%;
    margin-bottom: 30px;
    position: relative;
  }

  .film-element img {
    content: url(../img/film-thumbnail.jpg);
  }

  .film-element button {
    width: 50%;
    position: absolute;
    left: 0;
  }
}
