.page-heading {
  text-align: center;
}

.checkout-process {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  flex-grow: 1;
  border-bottom: 1px solid var(--icon-graphic-color);
  margin: 15px;
}

.payment-flow {
  display: flex;
  justify-content: space-between;
}

.payment-flow p {
  margin-top: 20px;
  font-weight: 700;
}

/* My attempt at making a border between the checkout flow icons below,
with pseudo after. I could not get the border to get below them with z-index */

/* .checkout-process:after {
  content: '';
  position: absolute;
  width: 95%;
  height: 0;
  border: 1px solid black;
  top: 50%;
  right: 2%;
  z-index: -1;
} */

.checkout-film {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  color: var(--text-color);
}

.checkout-film-image,
.checkout-film-description {
  flex-basis: 50%;
}

.checkout-film-image img {
  display: block;
  width: 180px;
}

.checkout-film-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-film-description h2 {
  font-size: 1.1em;
  margin: 0;
}

.checkout-film-description h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.checkout-film-description h4 {
  margin: 0;
}

.payment-selection {
  margin-top: 60px;
}

.payment-selection h4 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
}

.payment-options {
  display: flex;
  justify-content: space-around;
}

.payment-options div input {
  position: relative;
  left: 22px;
}

.payment-selection label {
  position: initial;
  display: block;
}

.vipps-info {
  margin: 0 auto;
  max-width: 286px;
}

.vipps-info p {
  line-height: 24px;
}

.button-pay {
  display: none;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .checkout {
    position: relative;
    margin-top: 20px;
  }
  .navigation {
    border-bottom: 1px solid #706f6f;
    padding-bottom: 20px;
  }

  .footer-content {
    border-top: 1px solid #706f6f;
    padding-top: 50px;
  }

  main .container {
    max-width: 600px;
  }

  .checkout-film {
    gap: 40px;
    justify-content: center;
  }

  .checkout-film-image {
    flex-basis: 65%;
  }

  .checkout-film-description {
    flex-basis: 35%;
    justify-content: space-around;
  }

  .checkout-film-image img {
    content: url("../img/film-thumbnail.jpg");
    width: 100%;
  }

  .checkout-film-description h2 {
    font-size: 1.5em;
  }

  .checkout-film-description h3 {
    font-size: 1.1em;
  }

  .payment-options {
    justify-content: space-evenly;
  }

  .payment-radio-select {
    gap: 153px;
    justify-content: center;
  }

  .button-pay {
    justify-content: center;
  }

  .button-pay button {
    width: 200px;
  }
}
