.page-heading, .search-logo {
  display: none;
}

.search {
  display: block;
  position: absolute;
  top: 12px;
  right: 40px;
  height: 30px;
  width: 50%;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 8px;
  text-indent: 32px;
}

.search-results {
  position: absolute;
  top: -6px;
  right: 40px;
}

.search-main {
  color: var(--text-color);
}

.filter-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.search-sort,
.search-sort p,
.select-menu {
  display: inline-block;
  margin-right: 10px;
  font-weight: 100;
}

.search-sort {
  vertical-align: super;
  font-weight: 100;
}

#search-sort {
  border: none;
  border-radius: 5px;
  width: 100px;
}

.search-element {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.search-image,
.search-description {
  flex-basis: 50%;
  position: relative;
}

.search-element img {
  width: 100%;
  display: block;
}

.search-description h2 {
  margin: 0;
  font-size: 1.1em;
}

.search-description h3 {
  font-size: 0.9em;
  font-weight: 400;
}

.search-description h4 {
  margin: 0;
  font-size: 1em;
  display: inline-flex;
}

.search-buy {
  margin-left: 6px;
}

.search-description button {
  width: 80px;
  height: 30px;
}

.search-description p {
  display: none;
}

@media screen and (min-width: 767px) {
  .navigation {
    border-bottom: 1px solid #d9d8d8;
  }

  .footer-content {
    border-top: 1px solid #d9d8d8;
    padding-top: 50px;
  }

  .search {
    position: initial;
    width: initial;
  }

  .search-results {
    position: inherit;
  }

  .page-heading {
    display: block;
  }

  .container {
    position: relative;
  }

  .search-main {
    position: relative;
    top: 20px;
  }

  .search-image,
  .search-description {
    flex-basis: revert;
  }

  .search-elements img {
    content: url("../img/film-thumbnail.jpg");
    width: 500px;
  }

  .search-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .search-description h2 {
    font-size: 1.5em;
  }

  .search-element p {
    display: block;
  }

  .search-buy {
    margin-left: 0;
  }

  .search-element button {
    width: 200px;
    height: 40px;
  }
}
