:root {
  --font-family-paragraph: 'Heebo', sans-serif;
  --font-family-headings: 'Noto Sans', sans-serif;
  --body-background-color: #f2f2f2;
  --button-links-color: #404a6f;
  --upload-link-color: #4a7373;
  --text-color: #373736;
  --icon-graphic-color: #706f6f;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: .145em;
  text-underline-offset: 4px;
}

body {
  font-family: var(--font-family-paragraph);
  background: var(--body-background-color);
}

main {
  position: relative;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}

header {
  height: 60px;
}

.main-nav,
.login-signup,
.logo-desktop,
.search {
  display: none;
}

.mobile-nav {
  padding: 2% 0;
}

.app-navigation-drawer {
  position: absolute;
  top: 60px;
  width: 100%;
  left: -30px;
  display: block;
  z-index: 5;
  margin: 0;
  padding: 20px 30px;
  background-color: var(--body-background-color);
  list-style: none;
  height: 380px;
  transition: transform 0.3s ease-out;
  transform: translateX(-170%);
  box-shadow: 0 0 2px 2px var(--body-background-color);
  border-radius: 5px;
}

.app-navigation-drawer li {
  padding: 20px 0;
  border-bottom: 1px solid #d9d8d8;
}

.app-navigation-drawer li:last-child {
  border-bottom: none;
}

.app-navigation-drawer li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: var(--button-links-color);
  font-weight: 700;
  font-size: 1.3em;
}

.app-navigation-drawer button {
  width: 100%;
  height: 40px;
}

.sr-only {
  display: block;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  transform: translate(0px);
}

#hamburger-menu {
  display: none;
}

.navigation {
  display: inline;
}

.logo-mobile {
  width: 38px;
}

.mobile-nav label {
  font-size: 1.6em;
  color: #706f6f;
  position: absolute;
  right: 0;
  margin-top: 2%;
  cursor: pointer;
}

.mobile-nav .fas.fa-bars {
  vertical-align: middle;
}

.links {
  font-weight: 700;
  text-decoration: none;
  color: var(--button-links-color);
}

.main-nav li .upload, .app-navigation-drawer .upload {
  color: var(--upload-link-color);
}

.login-signup .about, .app-navigation-drawer .about {
  font-weight: 300;
}

.main-nav {
  font-size: 1.1em;
}

.search-logo {
  width: 32px;
  position: absolute;
  right: 40px;
  top: 12px;
}

.links.log-in {
  padding-right: 1em;
}

.button a {
  color: #f2f2f2;
  font-weight: 400;
}

.button {
  background-color: var(--button-links-color);
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
}

button {
  width: 100%;
}

.button:hover {
  background-color: var(--upload-link-color);
  color: var(--body-background-color);
  transition: all ease-in .1s;
}

.search-desktop {
  list-style: none;
}

.hero-banner {
  height: 1070px;
  background-image: url("../img/hero-image-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-banner:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .2;
}

.hero-banner div {
  z-index: 2;
}

.content {
  top: 100px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.hero-banner {
  color: #f2f2f2;
}

.sign-up-heading {
  text-align: center;
}

.hero-heading {
  font-weight: 700;
  margin: 0;
  font-size: 2.35em;
}

.hero-heading,
.hero-description,
.sign-up-heading {
  margin-bottom: 50px;
}
.page-heading {
  font-size: 3em;
}

.page-heading,
.account-options p,
.account-info p {
  color: #373736;
}

.content:nth-child(-n+3) {
  text-shadow: 1px 1px 1px var(--text-color);
}

.content > p {
  color: #f2f2f2;
  font-size: 1.20em;
  line-height: 1.6;
}

p span {
  display: block;
}

.content h3 {
  color: #f2f2f2;
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.feature-higlights {
  position: relative;
  display: inline;
  justify-content: space-between;
}

.feature-higlights img {
  filter: drop-shadow(1px 1px 1px var(--text-color));
}

.feature-higlights p {
  line-height: 1.5;
}

.feature1,
.feature2,
.feature3 {
  width: 190px;
  margin-top: 49px;
  position: relative;
  display: -webkit-inline-box;
}

.feature-higlights h1 {
  font-size: 18px;
  margin: 18px;
}

.footer {
  height: auto;
}

.footer-content {
  margin: 60px 30% 0 30%;
}

footer img {
  height: 85px;
  margin-bottom: 30px;
}

.footer ul {
  list-style: none;
  display: block;
  color: #666666;
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 1.6;
}

.footer ul li {
  font-weight: 300;
  margin-bottom: 8px;
}

.footer-content ul .menu-bold {
  font-weight: 500;
}

.footer ul li a {
  text-decoration: none;
  color: #666666;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.android,
.ios {
  position: relative;
  right: -30px;
}

.android:before,
.ios:before {
  content: '';
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 24px;
  height: 24px;
  left: -2em;
}

.android::before {
  background-image: url("../img/android.png");
}

.ios:before {
  background-image: url("../img/ios.png");
}

.footer p {
  position: relative;
  text-align: center;
  bottom: 0;
  margin-top: 100px;
  font-size: 0.92em;
  font-weight: 500;
}

.no-link {
  cursor: default;
}

@media screen and (min-width: 767px) {
  .container {
    max-width: 1110px;
  }

  header {
    height: auto;
  }

  header ul {
    list-style: none;
    padding: 0;
  }

  .mobile-nav {
    display: none;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }

  .logo-desktop {
    display: inline-block;
    width: 145px;
  }

  .search-desktop li a {
    text-decoration: none;
  }

  .logo-desktop {
    display: initial;
  }

  .main-nav {
    padding: 0;
    margin: 0;
    display: inline-flex;
    gap: 2em;
  }

  .search {
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
    background-position: 8px;
    text-indent: 32px;
  }

  .links.about {
    font-size: 0.9em;
  }

  .login-signup {
    display: inline-flex;
    gap: 3em;
  }

  .login-signup div{
    display: inline-flex;
    align-items: center;
  }

  .button-signup {
    width: 100px;
    height: 40px;
  }

  .hero-banner {
    background-image: url("../img/hero-image.jpg");
    height: 1000px;
  }

  .button-herobanner {
    width: 200px;
    height: 40px;
  }

  .sign-up-heading {
    text-align: left;
  }

  .feature-higlights {
    display: flex;
  }

  .feature1,
  .feature2,
  .feature3 {
    width: 190px;
    margin-top: 250px;
    display: block;
  }

  .hero-icon {
    margin-left: 15px;
  }

  .footer-content {
    display: flex;
    margin: 60px 0 0 0;
    gap: 11%;
  }

  .footer ul {
    display: inline-block;
  }

  footer img {
    height: 85px;
  }
}
